*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

$font-main-color: rgb(20, 20, 20);
$font-secondary-color: rgb(136, 136, 136);
$light-grey: rgb(225, 225, 225);
$red-riot: #EA0028;

@mixin flex-center($justify, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}
main{
  height: 100vh;
  @include flex-center(center, row)
}

.container{

  height: 100%;
  width: 100%;
  display: flex;

  .form-box{
    min-width: 350px;
    min-height: 100%;
    padding: 55px;

    .logo-box{
      text-align: center;
      height: 88px;

  
      img{
        height: 40px;
      }
    } 
  
    h2{
      line-height: 70px;
      text-align: center;
      height: 70px;
    } 
  
    form{
      margin-bottom: 55px;
      .input{
        position: relative;

        input{
          background-color: $light-grey;
          height: 50px;
          width: 100%;
          margin-bottom: 15px;
          border: none;
          outline: none;
          padding-left: 13px;
          padding-top: 4px;
        }
        input:focus ~ .label-input, 
        input:valid ~ .label-input{
          font-size: 12px;
          transform: translateY(-14px);
        }

        .label-input{
          font-size: 13px;
          position: absolute;
          top: 16px;
          left: 13px;
          color: $font-secondary-color;
          font-weight: 700;
          transition: .3s;
        }
      }
      .form-buttons{
        margin-bottom: 10px;

        .face{
          background-color: blue;
        }
        .google{
          background-color: lightgray;
        }
        .apple{
          background-color: black;
        }
        .socials {
          padding: 5px;
          width: 32%;
          border: none;
          cursor: pointer;
          border-radius: 5px;

          img{
            height: 18px;
            padding-top: 2px;
          }
        }
      }
      .check-container{
        @include flex-center(left, row);
        .check-label {
          padding-left: 5px;
          color: $font-main-color;
          font-size: 13px;
        }
      }
    }
    .form-bottom{
      @include flex-center(space-between, column);
      height: 25%;
      
      button{
        height: 50px;
        width: 50px;
        border-radius: 15px;
        border: 1px solid $light-grey;
        background-color: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .3s;
        
        i{
          font-size: 32px;
          background-color: transparent;
        }
      }
      button:disabled{
        background-color: white;
        opacity: .5;
        pointer-events: none;
      } 
      button:hover{
        background-color: $red-riot;
        color: white;
      }

      .links-footer{
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;

        a{
          text-decoration: none;
          color: $font-secondary-color;
        }
      }
    }
  }
  .img-box{
    width: 100%;
    background-image: url('./images/camille_wallpaper.jpg');
    background-size: cover;
    background-position: center;
  }
}

  

