@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}
.container .form-box {
  min-width: 350px;
  min-height: 100%;
  padding: 55px;
}
.container .form-box .logo-box {
  text-align: center;
  height: 88px;
}
.container .form-box .logo-box img {
  height: 40px;
}
.container .form-box h2 {
  line-height: 70px;
  text-align: center;
  height: 70px;
}
.container .form-box form {
  margin-bottom: 55px;
}
.container .form-box form .input {
  position: relative;
}
.container .form-box form .input input {
  background-color: rgb(225, 225, 225);
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  border: none;
  outline: none;
  padding-left: 13px;
  padding-top: 4px;
}
.container .form-box form .input input:focus ~ .label-input,
.container .form-box form .input input:valid ~ .label-input {
  font-size: 12px;
  transform: translateY(-14px);
}
.container .form-box form .input .label-input {
  font-size: 13px;
  position: absolute;
  top: 16px;
  left: 13px;
  color: rgb(136, 136, 136);
  font-weight: 700;
  transition: 0.3s;
}
.container .form-box form .form-buttons {
  margin-bottom: 10px;
}
.container .form-box form .form-buttons .face {
  background-color: blue;
}
.container .form-box form .form-buttons .google {
  background-color: lightgray;
}
.container .form-box form .form-buttons .apple {
  background-color: black;
}
.container .form-box form .form-buttons .socials {
  padding: 5px;
  width: 32%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.container .form-box form .form-buttons .socials img {
  height: 18px;
  padding-top: 2px;
}
.container .form-box form .check-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.container .form-box form .check-container .check-label {
  padding-left: 5px;
  color: rgb(20, 20, 20);
  font-size: 13px;
}
.container .form-box .form-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25%;
}
.container .form-box .form-bottom button {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  border: 1px solid rgb(225, 225, 225);
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.3s;
}
.container .form-box .form-bottom button i {
  font-size: 32px;
  background-color: transparent;
}
.container .form-box .form-bottom button:disabled {
  background-color: white;
  opacity: 0.5;
  pointer-events: none;
}
.container .form-box .form-bottom button:hover {
  background-color: #EA0028;
  color: white;
}
.container .form-box .form-bottom .links-footer {
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
}
.container .form-box .form-bottom .links-footer a {
  text-decoration: none;
  color: rgb(136, 136, 136);
}
.container .img-box {
  width: 100%;
  background-image: url("./images/camille_wallpaper.jpg");
  background-size: cover;
  background-position: center;
}/*# sourceMappingURL=style.css.map */